:root{
  --color-primary: #2E3399;
  --color-secondary: #FF7900;
  --color-third: #B3B6FF;
  --color-text: #FFFFFF;
  --color-footer: rgba(196, 196, 196, 0.2);
  --color-btn-card: #FF9E00;
  --color-login: #22255C;
  --color-calendar: #C4C4C4;
  --color-calendar-title: #F2BB61;
  --color-cancel: #f00000;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.btn-back{
  background: var(--color-login);
  box-shadow: 2px 3px 16px -3px #000000;
  width: 3%;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.6rem;
  margin: 4rem;
}

.btn-back img{
  filter: invert(1);
}

.btn-back:hover{
  background: var(--color-secondary);
  transition: .5s;
}

.photo-perfil{
  display: flex;
  align-items: center;
  margin-top: -7rem;
  margin-left: 16rem;
}

.name-profession{
  position: absolute;
  margin-left: 22rem;
  margin-top: -4.8rem;
}

.name-profession .name{
  font-weight: 700;
  font-size: .9rem;
  color: var(--color-login);
}

.primary{
  font-weight: 700;
  font-size: .9rem;
  display: flex;
  margin-top: -.2rem;
  color: var(--color-login);
}

.secondary{
  font-weight: 400;
  font-size: .7rem;
  display: flex;
  margin-top: -.2rem;
  color: var(--color-login);
}

h2, select, .btn-confirmed-cancel{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--color-login);
  margin-left: 16rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
}

.calendar{
  padding: 20px 100px;
  box-shadow: 0 2px 0 #000;
  background-color: var(--color-calendar);
  border-radius: 1rem;
  border: 1px solid var(--color-login);
}

.month-week{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: var(--color-calendar-title);
  padding: 2rem;
  margin-top: -1.2rem;
}

.month-week .year{
  position: absolute;
  right: 22rem;
  top: 17rem;
}

.month-week h1{
  padding: 0 5rem;
}

.btn-prev-next{
  cursor: pointer;
}

.weeks{
  margin-bottom: 20px;
}

.weeks span{
  padding: 20px 40px;
  color: var(--color-text);
  background: var(--color-login);
}

.days{
  display: flex;
  margin-bottom: .3rem;
}

.avaible{
  background-color: var(--color-third);
  border: 1px solid var(--color-login);
}

.days span{
  width: 14.30%;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0.3rem;
  padding: 30px 20px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: .5s;
}

.days span:not(.next-prev-month, .unavailable):hover{
  color: var(--color-text);
  background-color: var(--color-btn-card);
}

.days span:not(.next-prev-month, .unavailable):hover::before{
  opacity: 1;
}

.next-prev-month, .unavailable{
  cursor: not-allowed !important;
  color: var(--color-login);
}

select{
 border: 1px solid var(--color-secondary);
 border-radius: .8rem;
 padding: 0 5rem;
 color: var(--color-secondary);
}

.confirmed, .cancel{
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-text);
  border-radius: .5rem;
  padding: 1.5rem 3.5rem;
  margin-right: 15rem;
  font-weight: 700;
}

.confirmed:hover{
  background-color: var(--color-secondary);
  transition: .5s;
}

.cancel{
  background: var(--color-text);
  color: var(--color-login);
  border-color: var(--color-login);
}

.cancel:hover{
  background-color: var(--color-cancel);
  color: #000;
  border-color: #000;
  transition: .5s;
}

.select-date{
  display: none;
}

@media(max-width: 929px){
  h2, select, .btn-confirmed-cancel{
    margin-left: 3rem;
  }
  .btn-confirmed-cancel{
    margin-left: 2.8rem;
  }
  .photo-perfil{
    margin-left: 7rem;
  }

  .name-profession{
    margin-left: 13rem;
  }

  .select-date{
    display: none;
  }
}

@media(max-width: 900px){
  .container{
    position: absolute;
    left: 10rem;
  }

  .btn-back{
  width: 40px;
  padding: 0.6rem;
  margin: 4rem 2rem;
}
  .calendar{
    display: none;
  }

  .select-date{
    display: flex;
    position: absolute;
    left: 0;
  }

  .dates{
    display: flex;
    margin-top: 2.5rem;
  }

  .select-hours{
    position: absolute;
    top: 15rem;
  }

  .btn-confirmed-cancel{
    position: absolute;
    top: 21rem;
    left: 0rem;
    flex-direction: column;
  }

  .cancel{
    margin-top: 2rem;
  }
}