@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

section{
  position: relative;
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 950px;
}

section .card .image{
  height: 140px;
  width: 140px;
}

section .card .image img{
  height: 40%;
  width: 40%;
  position: absolute;
  left: 20px;
  top: 40px;
}

.card{
  position: relative;
  background: #fff;
  margin: 20px 0;
  width: 280px;
  border: 1px solid  rgba(252, 125, 41, 0.932);
}

.card::before{
  content: "";
  position: absolute;
  height: 24%;
  width: 100%;
  background: #B2B6FF;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 100;
}

.card-content h3{
  margin-top: 0.5rem;
}

.card .media-icons{
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
}
.card .media-icons .fav{
  position: absolute;
  top: 65px;
  right: 15px;
  display: flex;
  color: #333;
}

.card .media-icons img{
  width: 4rem;
  position: relative;
}

.card .media-icons .fav i{
  color: #FF7900;
  margin-right: 0.2rem;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}

.name-profession .name{
  font-size: 15px;
  font-weight: 700;
  margin-right: 8rem;
}

.name-profession .profession{
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  position: absolute;
  top: 95px;
  right: 50px;
}

.name-profession .profession .especialidade{
  font-weight: 400;
  line-height: 1.5;
  position: absolute;
  left: 5px;
}

.card .descricao{
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.card .descricao .p{
    font-size: 13px;
    margin: 0 2px;
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #F2BB61;
}

.card .button{
  width: 30%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card .button button{
  background: #2e3399;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: #5d63d3;
}

.card-content h3{
  margin-right: 3rem;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background:#FF7900;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #FF7900;
  transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev{
  opacity: 1;
  color: #FF7900;
}